/* ////////////////////////////////////////
 * Reset stylesheet to reduce browser
 * inconsistencies
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ////////////////////////////////////////
 * General Layout and Font Settings
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #e1e4e6;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
  font-weight: normal;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 0px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  font-weight: normal;
  margin-top: 20px;
}

p {
  line-height: 22px;
  margin-top: 20px;
  padding: 0px;
}

a {
  vertical-align:baseline;
  text-decoration: none;
  background:transparent;
  color:#2877e2;
}

#main {
  width: 980px;
  margin: auto;
}

/* ////////////////////////////////////////
 * Header Settings
 */

#navigation {
  display: inline;
  float: left;
  height: 88px;
  width: 980px;
  background:transparent url(images/nav.png) left top no-repeat;
  background-position: 5px 5px;
  padding: 0;
  margin: 0;
}

#navigation span {
  display: block;
  height: 80px;
}

#navigation-bar {
  display: inline;
  float: right;
  text-align: right;
  z-index: 100;
  width: 980px;
  background:transparent url(images/nav.png) left top no-repeat;
  background-position: 5px -75px;
  background-color: rgba(225, 228, 230, 0.9);
  border-bottom: 1px solid #d1d1d1;
}

#navigation-bar a {
  font-size: 20px;
  text-decoration: none;
  background:transparent;
  color:#909192;
  margin-left: 6px;
  margin-right: 10px;
  line-height: 26px;
}

#navigation-bar a.on {
  color:#000000;
}

.anchor {
  position: fixed;
  top: 0;
}

#subnavigation {
  display: inline;
  float: left;
  margin-top: 5px;
  margin-left: 70px;
}

#subnavigation a {
  font-size: 16px;
  text-decoration: none;
  background:transparent;
  color:#909192;
  margin-right: 12px;
  line-height: 36px;
}

#subnavigation a.on {
  color:#000000;
}

#navigation a:hover {
  color:#000000;
}

#navigation a:hover {
  color:#000000;
}

#banner {
  display: inline;
  float: left;
  width: 980px;
  height: 195px;
  padding: 0px;
  margin-top: 18px;
}

#banner.logo {
  background:transparent url(images/logo.png) center top no-repeat;
}

#banner.screenshot1 {
  background:transparent url(images/screenshot1.png) center top no-repeat;
}

#banner.screenshot2 {
  background:white url(images/screenshot2.png) center top no-repeat;
}

#banner.dark_code {
  background:white url(images/dark_code_bg.png) left top no-repeat;
}

#banner.dark_code2 {
  background:white url(images/dark_code_bg2.png) left top no-repeat;
}

#banner.dark_code2center {
  background:white url(images/dark_code_bg2.png) left center no-repeat;
}

#banner.badguys {
  background:white url(images/badguys.png) left top no-repeat;
}

#banner.badguys2 {
  background:white url(images/badguys2.png) left top no-repeat;
}

#banner.d3_beach {
  background:white url(images/d3_beach.png) left top no-repeat;
}

#banner.d3_flight {
  background:white url(images/d3_flight.png) left top no-repeat;
}

#banner.trolls {
  background:white url(images/trolls.png) left top no-repeat;
}

/* ////////////////////////////////////////
 * Page Settings
 */

#page {
  display: inline;
  float: left;
  width: 978px;
  background-color: #efefef;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #d1d1d1;
}

#content {
  display: inline;
  float: left;
  width: 740px;
  min-height: 850px;
  margin: 0;
  background-color: #fdfdfd;
}

#content hr {
  float: left;
  border: none;
  margin: 0px;
  background-color: #0071bb;
  width: 600px;
  margin-left: 70px;
  height: 3px;
}

#content h1 {
  padding-left: 70px;
  padding-right: 70px;
}

.endofpage {
  display: inline;
  float: left;
  width: 600px;
  height: 100px;
}

.section {
  display: inline;
  float: left;
  width: 600px;
  padding-left: 70px;
  padding-right: 70px;
}

.sidebar {
  display: inline;
  float: left;
  width: 220px;
}

.sidebar p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
  padding: 0px;
  color: #404040;
}

/* ////////////////////////////////////////
 * Sidebar banners
 */

#sidebar-integration {
  display: inline;
  float: left;
  margin-top: 91px;
  margin-left: 20px;
  width: 200px;
}

#sidebar-integration h3 {
  margin-top: 2px;
  height: 22px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #565353;
  border-bottom: 1px solid #d1d1d1;
}

#sidebar-integration h4 {
  margin-top: 45px;
}

#sidebar-integration h4.dreamworks {
  margin-top: 30px;
  width: 175px;
  height: 103px;
  background:transparent url(images/dreamworks.png) center top no-repeat;
}

#sidebar-integration h4.animalLogic {
  margin-top: 30px;
  width: 175px;
  height: 115px;
  background:transparent url(images/AnimalLogic.png) center top no-repeat;
}

#sidebar-contact {
  display: inline;
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  width: 200px;
}

#sidebar-contact h3 {
  margin-top: 2px;
  height: 22px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #565353;
  border-bottom: 1px solid #d1d1d1;
}

/* ////////////////////////////////////////
 * Footer Settings
 */

#footer {
  display: inline;
  float: left;
  width: 980px;
  height: 100px;
  margin-top: 30px;
  background:transparent url(images/dwa.png) center top no-repeat;
}

#footer p {
  font-size: 10px;
  line-height: 40px;
  margin-top: 50px;
  text-align: center;
}

/* ////////////////////////////////////////
 * About Page
 */

.bulleted {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
}

.feature {
  display: inline;
  float: left;
  width: 270px;
  margin-right: 60px;
}

.feature p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 0px;
  padding: 0px;
  color: #404040;
}

.feature-right {
  display: inline;
  float: left;
  width: 270px;
  margin-right: 0px;
}

.feature-right p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 0px;
  padding: 0px;
  color: #404040;
}

/* ////////////////////////////////////////
 * News Page
 */

.news_item {
  display: inline;
  float: left;
  margin-bottom: 20px;
  width: 600px;
}

.news_item h3 {
  float: left;
  width: 600px;
  font-size: 12px;
  margin-top: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.news_item p {
  width: 500px;
}

.news_item ul {
  margin-left: 15px;
}

.news_item li {
  margin-top: 5px;
}
